extends layout 

block layout-content 
    form(method="POST" action="/insertGenre")
        h1 Genre Inserter 
        label Genre Name
            br 
            input(name="genreTitle" type="textbox")
        br
        input(type="submit" value="Add Genre")