extends layout 

block layout-content 
    form(method="POST" action="/insertPublisher")
        h1 Publisher Inserter
        label Name 
            input(name="publisherName" type="textox")
        label Headquarters 
            input(name="publisherHq" type="textbox")
        label Country 
            input(name="publisherCountry" type="textbox")
        label Founder 
            input(name="publisherFounder" type="textbox")
        label Date Founded 
            input(name="publisherFoundedDate" type="textbox")
        input(type="submit" value="Insert Publisher")
