// Add the DataTables CSS
link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css")
link(rel="stylesheet" href="/catalog.css")
script(src="https://code.jquery.com/jquery-3.5.1.js")
script(src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js")
div#container
    table(id="games" class="display"  style="width:100%")
        thead 
            tr
                th Title
                th Date
                th Developer 
                th MetaCritic
        tbody
        each game in games 
            tr
                td= game.gameTitle
                td= game.gameReleaseDate 
                td= game.gameDeveloper 
                td= game.gameMetaCriticScore

    script.
        $(document).ready(function () {
            $('#games').DataTable();
        });
