html 
    head 
    body 
        h1 Game Library
        form(method="get" action="/catalog/games")
            input(type="submit" value="Games")
        form(method="get" action="/catalog/publishers")
            input(type="submit" value="Publishers")
        form(method="get" action="/catalog/genres")
            input(type="submit" value="Genres")
        hr
        form(method="get" action="/insert/game")
            input(type="submit" value="Insert")

