html 
    head 
    body 
        h1 Game Library
        form(method="get" action="/addGame")
            input(type="submit" value="Insert game")
        form(method="get" action="/addPublisher")
            input(type="submit" value="Insert Publisher")


