body  
    form(action="")
        div 
            label(for="") Game Title
                br
                input(type="text")
                br
            label(for="") Game Release Date
                br
                input(type="text")
                br
            label(for="") Game Developer
                br
                input(type="text")
                br
            // TODO Create insert option within page that brings up another insert page for publisher
            label(for="") Game Publisher
                br
                select
                    each publisher in publishers
                        option(value=publisher.publisherName)= publisher.publisherName
                a(href="/insert/table/publisher" target="_blank", rel="noopener noreferrer")
                    input(type="button", value=">") 
                br
            label(for="") Game Genre
                br
                select
                    each genre in genres
                        option(value=genre.genreTitle)= genre.genreTitle
                a(href="/insert/table/genre", target="_blank", rel="noopener noreferrer")
                    input(type="button", value=">") 
                br 
            input(type="button" value="Add") 