body
    form(method="get" action="/inserter/**TODO**")
        input(type="submit" value="Insert Game")
    form(method="get" action="/inserter/**TODO**")
        input(type="submit" value="Insert Publisher")
    form(method="get" action="/inserter/**TODO**")
        input(type="submit" value="Insert Genre")
    
