body  
    form(method="post" action="/insert/postGame")
        div 
            label(for="") Game Title
                br
                input(type="text"  name="gameTitle")
                br
            label(for="") Game Release Date
                br
                input(type="date"  name="gameReleaseDate")
                br
            label(for="") Game Developer
                br
                input(type="text"  name="gameDeveloper")
                br
            //- Eventually would like to query an API for this one, to avoid the user putting in false values.
            label(for="") Game MetaCritic Score
                br
                input(type="text" name="gameMetaCriticScore")
                br
            label(for="") Game Publisher
                br
                select
                    each publisher in publishers
                        option(value=publisher.publisherName name=gamePublisher)= publisher.publisherName
                a(href="/insert/table/publisher" target="_blank", rel="noopener noreferrer")
                    input(type="button", value=">") 
                br
            label(for="") Game Genre
                br
                select
                    each genre in genres
                        option(value=genre.genreTitle name=gameGenre)= genre.genreTitle
                a(href="/insert/table/genre", target="_blank", rel="noopener noreferrer")
                    input(type="button", value=">") 
                br 
            input(type="submit" value="Add") 