body 
    h3 Insert New Genre
        form(action="") 
            label(for="") Publisher Name
                br
                input(type="text")
                br
            label(for="") Publisher Headquarters
                br
                input(type="text")
                br
            label(for="") Publisher Country
                br
                input(type="text")
                br
            label(for="") Publisher Founder
                br
                input(type="text")
                br
            label(for="") Publisher Founded Date
                br
                input(type="text")
                br
            input(type="submit" value="Add")