html 
    head 
        link(rel="stylesheet" href="public/style.css" type="text/css")
    body
        h1 Game Inserter
        label Title 
        input(type="textbox")
        label Release Date 
        input(type="textbox")
        label Developer 
        input(type="textbox")
        label Metacritic Score 
        input(type="textbox")
        // TODO: read from publishers table and display as select
        label Publisher 
        input(type="textbox")
