body 
    h3 Insert New Genre
    div 
        form(action="")
            label(for="") Genre title 
                br   
                input(type="text")
                br
            button(type="submit") Submit